<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flood Alert</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

    <h1>⚠ Flood Predicted</h1>

    <p>
        Warning! Based on the given weather conditions,
        there is a high possibility of flooding.
    </p>

    <a href="/">
        <button>Go Back</button>
    </a>

</body>
</html>